{% extends "base.html" %}
{% block content %}

    <section class="content-header">
        <h1>
            辅助诊疗模型
{#            <small>Optional</small>#}
        </h1>
{#        <ol class="breadcrumb">#}
{#            <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>#}
{#            <li class="active">Main Page</li>#}
{#        </ol>#}
    </section>

    <!-- Main content -->
    <section class="content">
          <div class="box box-primary">

              <h1 style="text-align: center">项目背景</h1>

            <!-- /.box-header -->
              <div align="center">
            <div class="box-body" style="width: 90%;text-align: left">
                <p style="font-size: 20px; line-height: 15mm;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    本项目牵头单位为上海申康医院发展中心，
                    由申康联合万达信息股份有限公司、东华大学、复旦大学、上海宽带技术及应用工程研究中心
                    建立项目工程组织，管理并执行项目的整体规划和具体实施。
                    东华大学负责其中医学影像文本相关的关键技术攻关以及协助应用实施，双方合作形式见附件的合作合同。</p>
            </div>
              </div>
            <!-- /.box-body -->
          </div>
    </section>
    <!-- /.content -->

{% endblock %}